# Folders
.obsidian/
.stfolder/
.vscode/
/code/dist/
/code/fimfic-stats/node_modules/
/code/pony-temp/
/code/publish/
/code/target/

# Files
/code/fimfic-april-fools-arguments.json
/code/fimfic-stats/bun.lockb
