# Tell GitHub Linguist to ignore all files in /archive/
archive/** linguist-vendored

# Tell GitHub Linguist to track Markdown files
*.md linguist-detectable=true

# Auto detect text files and perform LF normalization
* text=auto
