.obsidian/plugins/obsidian-languagetool-plugin/data.json
.obsidian/plugins/**/*.css
.obsidian/plugins/**/*.js
.obsidian/community*
.obsidian/workspace*
/shell-scripts/dist
/shell-scripts/pony-temp
/shell-scripts/publish
